@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');
.form-control {
  -webkit-transition: none;
  transition: none;
  width: 32px;
  height: 32px;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.h2, h2 {
  font-size: calc(1.325rem + .9vw);
}
.h3, h3 {
  font-size: calc(1.3rem + .6vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.header{
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background-color: var(--white-color);
  transition: top 0.8s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

body {
  /* height: 100vh; */

  background: linear-gradient(to right, #724f36e4, #D2BEB4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: 'Quicksand';
  flex-direction: column;
}

.input-otp-container .input-otp-header{
  font-size: 25px;
  font-weight:bold ;
}

.input-otp-container{
  margin: 92px 0 40px;
  padding: 10px 0 10px;
  background-color: white;
  background: rgba(255, 255, 255, .5);
  border-radius: 10px;
  width: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input-otp-container::after{
  background: rgba(255, 255, 255, .15);
}

.input-otp-container div{
  padding-top: 20px;
}

.input-otp-container a{
  font-size: 1.6rem;
  color: rgb(0, 0, 170);
  
}
.input-otp-container .text{
  color: #5e4f4f;
}

.mb-6 input{
  border: none;
  outline: none;
  background: rgba(255, 255, 255, .3);
  min-width: 40px;
  height: 50px;
  transition: background .5s;
}

input:focus {
  background: rgb(105, 105, 105);
}

.button{
  text-align: center;
  align-items: center;

}

button {
  /* flex: 1; */
  background: #6B4932;
  color: white;
  padding: 3px 2px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background .5s;
  margin-bottom: 20px;
  min-width: 280px;
  height: 45px;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.form-control:focus {
  color: #3F4254;
  background-color: #ffffff;
  border-color: #884377;
  outline: 0;
}

.form-control.form-control-solid {
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  color: #3F4254;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.form-control.form-control-solid:active,
.form-control.form-control-solid.active,
.form-control.form-control-solid:focus,
.form-control.form-control-solid.focus {
  background-color: #EBEDF3;
  border-color: #EBEDF3;
  color: #3F4254;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}
/* Responsive */
@media (max-width: 400px) {
  .input-otp-container {
      width: 350px;
      height: 500px;
      padding: 2rem;
  }
  .input-otp-container input{
    margin: 3px;
  }
  .button{
    width: 280px;
    margin-right:10px;
  }
  .button button{
    width: 290px;
    margin-right: 10px;
  }
}