body {
    font-family: 'Quicksand';
    min-height: 100vh;
    background: linear-gradient(to right, #724f36e4, #D2BEB4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Card Header */
.input-phonenumber-header {
    margin-bottom: 2rem;
}

.input-phonenumber-header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.input-phonenumber-header h1+div {
    font-size: calc(1rem * .8);
    opacity: .8;
    text-align: center;
}

.input-phonenumber-container{
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;

}
.input-phonenumber-container::after{
    background: rgba(255, 255, 255, .15);
}

/* ---input--- */
input{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 5px;
    width: 100%;
    transition: background .5s;
}

input:focus {
    background: white;
}

button {
    background: #6B4932;
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

button a{
    text-decoration: none;
    color: white;
    font-weight: boldẻ;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

/* ---input, button */

/* Login Card Form */
.input-phonenumber-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-phonenumber-form .form-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: .5rem;
}
/* 
.input-phonenumber-form .form-item {
    width: 50%;
} */

.input-phonenumber-form .form-item .form-item-icon {
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}

/* Responsive */
@media (max-width: 768px) {
    .input-phonenumber-container {
        width: 250px;
        padding: 2rem;
    }
}