* {
    margin-top: 0;
    padding: 0;
}
/* body{
    box-sizing: border-box;
} */
:root {
    --darkpink: #b8a898;
    --lightpink: #d2beb4;
    --darkbrown: #6B4932;
    --black: black;
    --white: #ffffff;
    --grey: #ADA9A9;
  }

  .header{
    background-color: var(--lightpink);
    padding: 5px;
    font-size: 12px;
  }
  .header__text{
    padding-left: 70px;
  }
.fontweight__bolder{
    font-weight: bold;
}
.font__title{
    font-size: 24px;
    font-weight: bolder;
    color: var(--darkbrown);
    position: relative;
}

.map{
    margin-top: 35px;
}
a{
    color: black;
} 
.bar{
    position: absolute;
    width: 50px;
    height: 0px;
    margin-top: 2px;
    border: 2px solid #000000;
} 
.form__guingay{
    background-color: initial;
    font-weight: bold;
    margin-left: auto; 
    border: 1px solid  var(--darkbrown);
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
} 
.form__guingay:hover{
    background-color: var(--darkbrown);
    color: white;
} 
.form__guingay:active{
    opacity: 0.7;
    background-color: var(--darkpink);
} 

