@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
    background: linear-gradient(to right, #724f36e4, #D2BEB4);
    font-size: 1.6rem;
    overflow-x: hidden;
}
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
  }
  .h3, h3 {
    font-size: calc(1.3rem + .6vw);
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .header{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background-color: var(--white-color);
    transition: top 0.8s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  .logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.container{
    background-color: white;
    background: rgba(255, 255, 255, .5);
    border-radius: 5px;
    padding: 20px;
    max-width: 900px;
    width: 50%;
    margin: 110px auto 40px;
}

.container::after{
    background: rgba(255, 255, 255, .15);

}
.form-control{
    font-size: 1.6rem;
}


.col-form-label{
    /* width: 180px; */
    padding-left: 20px;
    align-items: center;
    font-weight: bold;   
}

input{
    width: 60%;
}

.middle-text{
    padding: 20px;
}

#password{
    position: relative;
    align-items: center;
}
.fa-eye{
    flex: 2;
    position: absolute;
    cursor: pointer;
    color: #6B4932;
    margin-right:10px ;
}
.password-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
button{
    border: white;
    border-radius: 5px;
    color: white;
    background-color: #6B4932;
    padding:5px;
    width: 100px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

.button{
    margin-top: 10px;
    margin-left: 45%;
}
.button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #333;
}
/* Responsive */


@media (max-width: 400px) {
    .container {
        width: 320px;
        height: 600px;
        padding: 2rem;
    }
    .container label{
        padding: 15px;
    }
    .container .middle-text{
        padding: 15px;
    }
}